name: pre-commit

on:
  pull_request:
    branches:
      - master
      - main
      - devel*

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1
